<div class="container">
  <h1 class="header">Update Article</h1>
  <!-- add a navbar with 2 words show and add -->

  <div class="inputs">
    <input
      class="input"
      type="text"
      placeholder="title"
      [(ngModel)]="article.title"
    />
    <input
      class="input"
      type="text"
      placeholder="description"
      [(ngModel)]="article.description"
    />
    <input
      class="input"
      type="text"
      placeholder="Pic Url"
      [(ngModel)]="article.picture"
    />
  </div>

  <div class="buttons">
    <button class="btn" (click)="update()">Update</button>
  </div>
</div>
