.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.container .navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.container .navbar .logo {
  width: 100px;
  height: 30px;
}
.container .navbar .logo img {
  width: 100%;
  height: 100%;
}
.container .navbar .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
}
.container .navbar .nav-links li {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.container .inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container .inputs .input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
.container .inputs .input:focus {
  outline: none;
  border: 1px solid #000;
}
.container .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container .buttons .btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
.container .buttons .btn:focus {
  outline: none;
  border: 1px solid #000;
}
.container .buttons .btn:first-child:hover {
  background-color: #0d6efd;
  color: #fff;
}
.container .buttons .btn:last-child:hover {
  background-color: #dc3545;
  color: #fff;
}
.container .Articles {
  width: 90%;
  min-height: 500px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container .Articles .article_title h1,
.container .Articles .article_description h1,
.container .Articles .article_pic h1 {
  text-align: flex-start;
  margin-left: 20px;
  text-transform: capitalize;
}
.container .Articles .article_title p,
.container .Articles .article_description p,
.container .Articles .article_pic p {
  text-align: flex-start;
  margin-left: 20px;
}
.container .Articles .article_pic img {
  width: 350px;
  height: 350px;
  margin-left: 20px;
}
.container .Articles .article_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}
.container .Articles .article_buttons .btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
.container .Articles .article_buttons .btn:focus {
  outline: none;
  border: 1px solid #000;
}
.container .Articles .article_buttons .btn:first-child:hover {
  background-color: #0d6efd;
  color: #fff;
}
.container .Articles .article_buttons .btn:last-child:hover {
  background-color: #dc3545;
  color: #fff;
}/*# sourceMappingURL=ajout.component.css.map */