<div class="container">
  <div class="navbar">
    <div class="logo">
      <img
        src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_1280.jpg"
        alt="Logo"
      />
    </div>
    <ul class="nav-links">
      <li><a href="#">Add</a></li>
      <li><a href="#">Show</a></li>
    </ul>
  </div>

  <h1 class="header">Add Article</h1>
  <!-- add a navbar with 2 words show and add -->

  <div class="inputs">
    <input
      class="input"
      type="text"
      placeholder="title"
      [(ngModel)]="article.title"
    />
    <input
      class="input"
      type="text"
      placeholder="description"
      [(ngModel)]="article.description"
    />
    <input
      class="input"
      type="text"
      placeholder="Pic Url"
      [(ngModel)]="article.picture"
    />
  </div>

  <div class="buttons">
    <button class="btn" (click)="addArticle()">Add</button>
    <button class="btn">Cancel</button>
  </div>
</div>
