<div class="container">
  <select [(ngModel)]="selectTag">
    <option value="">choose</option>
    <option value="title">title</option>
    <option value="description">description</option>
    <option value="img">img</option>
  </select>
  <div class="btns">
    <button (click)="addInput()">+</button>
    <button (click)="addBlog()">Save</button>
  </div>
  <div class="inputs">
    <div class="inputs-option" *ngFor="let i of blogData">
      <ng-container *ngIf="i.tag === 'title'">
        <input type="text" placeholder="{{ i.tag }}" [(ngModel)]="i.title" />
      </ng-container>
      <ng-container *ngIf="i.tag === 'description'">
        <input
          type="text"
          placeholder="{{ i.tag }}"
          [(ngModel)]="i.description"
        />
      </ng-container>
      <ng-container *ngIf="i.tag === 'img'">
        <input type="text" placeholder="{{ i.tag }}" [(ngModel)]="i.img" />
      </ng-container>
    </div>
  </div>
</div>
